.products-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    flex: 1;
    position: relative;
    min-height: 100vh;
}

.products-content {
    display: flex;
    flex: 1;
    margin-top: 20px;
    height: 100%;
}

.sidebar {
    width: 0;
    background: var(--bg-main);
    position: fixed;
    padding-top: 70px;
    left: 0;
    z-index: 1000;
    top: 0px;
    height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.sidebar.open {
    width: 250px;
    transition: all 0.3s ease;
    border-right: 1px solid var(--border-color);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}


.sidebar-inner {
    padding: 20px 15px;
    height: auto;
}

.toggle-btn {
    position: fixed;
    left: -1px;
    top: 20vh;
    font-size: 20px;
    color: #f3a90963;
    padding: 0;
    cursor: pointer;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.toggle-btn:hover {
    color: #f3a909;
}

.main-content {
    flex: 1;
    padding: 35px 20px;
}

.tog-close-btn {
    color: #f3a90963;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.tog-close-btn :hover {
    color: #f3a909;
}

.bg-box {
    background: var(--box-bg);
    color: var(--text-main);
    margin-bottom: 10px;
}

.product-group a {
    text-decoration: none;
}

.product-card {
    background: var(--box-bg);
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    width: 230px;
    border-radius: 12px;
    transition: 0.3s;
    border: 1px solid var(--border-color);
}


.product-card:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card:hover img {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.product-image-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image-wrapper .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200000000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-image-wrapper:hover .img-overlay {
    opacity: 1;
}

.product-image-wrapper .overlay-text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #fff;
    padding: 8px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.product-image-wrapper .overlay-text:hover {
    background-color: #fff;
    color: #000;
}


.product-title {
    margin-top: 10px;
    color: var(--text-main);
    font-size: 14px;
    font-weight: 600;
}

.product-category {
    font-size: 14px;
    color: var(--text-muted);
    cursor: pointer;
}

.product-category:hover {
    color: var(--accent);
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    color: var(--accent) !important;
}

.product-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10px;
    transition: 0.3s ease;
    transform: translateX(-57%);
}

.product-content button {
    width: 115px;
    padding: 5px 10px;
    background: var(--btn-gradient);
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 0 25px 25px 0;
    transform: translateX(-20px);
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

}


.product-content button:hover {
    background: linear-gradient(90deg, #5a67d8, #5a67d8);
}

.product-content p {
    color: var(--text-muted);
    font-size: 14px;
    font-weight: 600;
    width: 80px;
}

.product-card:hover .product-content {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.product-card:hover .product-content p {
    width: fit-content;
}

.product-card .product-info .product-rating {
    background-color: #f3a909;
    color: var(--text-main);
    font-size: 15px;
    font-weight: 600;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .product-content {
        transform: translateX(0);
    }

    .product-content p {
        width: fit-content;
    }
}

@media screen and (max-width: 400px) {
    .sidebar {
        height: 100vh;
        border-right: none;
        border-bottom: 1px solid var(--border-color);
    }

    .sidebar.open {
        width: 260px;
    }
}