.products-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    flex: 1;
    min-height: 100vh;
}

.products-content {
    display: flex;
    flex: 1;
    position: relative;
    margin-top: 20px;
}
 
.sidebar {
    width: 0;
    overflow: hidden;
    background: var(--bg-main);
    position: relative;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.sidebar.open {
    width: 220px;
    transition: all 0.3s ease;
    border-right: 1px solid var(--border-color);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

/* .sidebar-inner .list-group button{
    overflow: hidden !important;
    width: 100%;
} */
.sidebar-inner {
    padding: 20px 15px;
    /* overflow: hidden; */
}

.toggle-btn {
    position: fixed;
    left: -1px;
    top: 20vh;
    font-size: 20px;
    color: #f3a90963;
    padding: 0;
    cursor: pointer;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.toggle-btn:hover {
    color: #f3a909;
}

.main-content {
    flex: 1;
    padding: 35px 20px;

}

.tog-close-btn {
    color: #f3a90963;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.tog-close-btn :hover {
    color: #f3a909;
}

.bg-box {
    background: var(--box-bg);
    color: var(--text-main);
    margin-bottom: 10px;
}

.product-card {
    width: 250px;
    background: var(--box-bg);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: var(--text-main);
}

.product-price {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-main);
}

.product-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transform: translateX(-75%);
    -webkit-transform: translateX(-75%);
    -moz-transform: translateX(-75%);
    -ms-transform: translateX(-75%);
    -o-transform: translateX(-75%);
}

.product-content button {
    padding: 5px 10px;
    background-color: #f3a909;
    font-weight: 600;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--text-main);
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
}

.product-card:hover .product-content {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);

}


.product-content button:hover {
    background-color: #e08d07;

}

.product-card .product-info .product-rating {
    background-color: #f3a909;
    color: var(--text-main);
    font-size: 15px;
    font-weight: 600;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media screen and (max-width: 400px) {

    .sidebar {
        height: 100vh;
        border-right: none;
        border-bottom: 1px solid var(--border-color);
        position: fixed;
        z-index: 1000;
    }

    .sidebar.open {
        width: 100%;
    }

}