.home-slider {
  width: 100%;
  height: 100vh;
}

.slide {
  position: relative;
  width: 100%;
  height: 100vh;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Dark Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

/* Caption Center */
.caption {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.caption h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 700;
  letter-spacing: 2px;
}

.caption p {
  margin-top: 10px;
  font-size: 1.2rem;
  opacity: 0.9;
}
.swiper-slide-active .caption {
  animation: fadeUp 0.8s ease-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #fff;
  opacity: 0.4;
  margin: 0 6px !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffb703;
  transform: scale(1.3);
} */

.swiper-pagination-bullet {
  width: 25px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ff4d6d;
}
.swiper-pagination-bullet-active {
  animation: pulse 0.6s ease;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1); }
}

