.navbar {
    position: fixed !important;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000 !important;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-size: 18px;
    font-weight: 600;
    -webkit-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar-brand {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    line-height: 45px;

}

.navbar,
.navbar-transition {
    transition: background-color 0.4s ease, box-shadow 0.4s ease, padding 0.4s ease;
}


.sticky-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.856);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 15px 20px;
}

.header-link {
    transition: color 0.3s ease;
    padding: 15px 0 !important;
    margin: 0 10px;

}

.header-link.active {
    color: #f3a909 !important;
    border-bottom: #f3a909 solid 2px !important;
}

.header-link:hover {
    color: #fff !important;
    border-bottom: #fff solid 2px !important;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.header-brand {
    background-color: transparent !important;
    color: white !important;
    border: none !important;
}

.cursor-pointer {
    cursor: pointer;
}


@media (max-width: 992px) {
    .nav-link {
        padding: 5px !important;
        margin: 10px 0;
    }

    .navbar-brand {
        padding: 10px 0 !important;
    }

    /* .theme-toggle-wrapper {
        position: absolute;
        top: 0;
        right: 65px;
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -o-transform: translateY(50%);
    } */
}