.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
  /* background: #f4e7fb; */
}

.auth-box {
  width: 350px;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  overflow: hidden;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #eee;
  font-weight: bold;
}

.tabs button.active {
  background: #667eea;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #667eea;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
