.auth-container {
  min-height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
  /* background: #f4e7fb; */
}

.auth-box {
  background: #fff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  min-height: 70vh;

}

.tabs {
  display: flex;
  margin-bottom: 30px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #eee;
  font-weight: bold;
}

.tabs button.active {
  background: #667eea;
  color: #fff;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 50vh;
  justify-content: center;
}

.form-content input {
  padding: 10px;
}

.form-content button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #667eea;
  color: white;
  font-weight: bold;
  cursor: pointer;
}