.main-image-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-image {
    max-width: 100%;
    min-height: 250px;
    transition: transform 0.3s ease;
    cursor: zoom-in;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}

.thumb-img {
    min-height: 50px;
    cursor: pointer;
    padding: 3px;
    border: 2px solid var(--border-color);
    transition: 0.3s;
    border-radius: 8px;
    opacity: 0.7;
    transition: all 0.3s ease;

}

.thumb-img:hover {
    transform: scale(1.05);
    opacity: 1;

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.active-thumb {
    border: 2px solid #f3a909 !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #f3a909;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #000;
}

.thumb-img.active-thumb {
    border: 2px solid #000;
    opacity: 1;
}
.product-details-title {
    margin-top: 10px;
    color: var(--text-main);
    font-size: 24px;
    font-weight: 600;
}

.product-rating span {
    color: #ffc206;
}


.product-rating .rating-count {
    color: var(--text-muted);
    font-size: 14px;
    font-weight: 600;
}