
/* ================= LAYOUT ================= */

.auth-container {
  min-height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: var(--bg-main); */

}

.auth-box {
  background: var(--box-bg);
  padding: 32px;
  border-radius: 14px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
  color: var(--text-main);
  position: relative;
  backdrop-filter: blur(10px);
  margin: 30px 0;

}

/* ================= TOGGLE ================= */

.theme-toggle {
  position: relative;
  top: 12px;
  right: 12px;
  background: var(--btn-gradient);
  border: none;
  color: var(--text-muted);
  cursor: pointer;
}

/* ================= TABS ================= */

.tabs {
  display: flex;
  border-radius: 8px !important;
  overflow: hidden !important;
  margin-bottom: 24px;
  background-color: var(--taps-bg);
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}

.tabs button {
  flex: 1;
  padding: 12px;
  background: var(--btn-normal);
  border: none;
  color: var(--text-muted);
  font-weight: bold;
  cursor: pointer;
}

.tabs button.active {
  background: var(--btn-gradient);
  color: #fff;
}

/* ================= FORM ================= */

.form-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-content h2 {
  text-align: center;
}

.form-content button {
  padding: 12px;
  background: var(--btn-gradient);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


.form-content button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* ================= PASSWORD ================= */

.password-field {
  position: relative;
  display: flex;
  align-items: center;
}

.password-field span {
  position: absolute;
  right: 0;
  cursor: pointer;
}

/* ================= MUI OVERRIDES ================= */

.MuiInputBase-input {
  color: var(--text-main) !important;
}

.MuiInputLabel-root {
  color: var(--text-muted) !important;
}

.MuiInputLabel-root.Mui-focused {
  color: var(--accent) !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid var(--border-color) !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid var(--accent) !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid var(--accent) !important;
}

/* ================= ERROR STATE ================= */
/* Default error underline */
.MuiInput-underline.Mui-error:before {
  border-bottom: 1px solid #d32f2f88 !important;
}

/* Focused error underline */
.MuiInput-underline.Mui-error:after {
  border-bottom: 2px solid #d32f2f !important;
}

/* Hover error underline */
.MuiInput-underline.Mui-error:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid #d32f2f !important;
}

/* Error */
.MuiInputLabel-root.Mui-error {
  color: #d32f2f88 !important;
}

/* Focused + Error */
.MuiInputLabel-root.Mui-error.Mui-focused {
  color: #d32f2f !important;
}