/* 
html {
    color-scheme: dark;
}

:root {
    --template-palette-background-default: hsl(220, 35%, 3%);

    --main-bg-gradient: radial-gradient( #03182E 0%, var(--template-palette-background-default) 130%);
}

body {
    background: var(--main-bg-gradient);
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    min-height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
} */